- name: "Ensure code-server data dir: {{ code_server_data_dir }}"
  file:
    path: "{{ code_server_data_dir }}"
    state: directory
    owner: "{{ code_server_user }}"
    mode: 0755

- name: "Ensure code-server env file: {{ code_server_data_dir }}/env"
  template:
    src: env
    dest: "{{ code_server_data_dir }}/env"
    mode: 0600
    owner:  "{{ code_server_user }}"
  notify: Restart code-server
  when: code_server_password is defined or
        code_server_env|length > 0

- block:
  - import_tasks: copy-certs.yml
  rescue:
  - import_tasks: copy-certs.yml
    become: true
