---
- name: Configure max_user_watches
  ansible.posix.sysctl:
    name: fs.inotify.max_user_watches
    value: '524288'
    sysctl_set: yes
    state: present
    reload: yes

- name: Check usage of deprecated role variables
  include_tasks: deprecate.yml
  when: >
    tls_cert is defined
    or tls_key is defined
    or tls_cert_remote is defined
    or tls_key_remote is defined

# Always gather facts as we use ansible_user_id and ansible_user_dir
- name: Gather Facts
  setup:
    gather_subset: '!all'

- name: Check systemd version
  shell: "set -o pipefail; systemctl --version | head -1 | cut -d' ' -f2"
  args:
    executable: /bin/bash
  register: systemctl_version
  changed_when: no

- name: Add the user '{{ code_server_user }}'
  become: true
  user:
    name: "{{ code_server_user }}"
  register: code_server_user_info
  when: code_server_user != "root"

- name: "Ensure {{ code_server_user }} is lingering"
  become: true
  ansible.builtin.stat:
    path: "/var/lib/systemd/linger/{{ code_server_user }}"
  register: code_server_user_lingering
  tags:
    - user
    - systemd
  when: code_server_user != "root"

- name: "Ensure lingering for {{ code_server_user }}"
  become: true
  ansible.builtin.command: "loginctl enable-linger {{ code_server_user }}"
  when: not code_server_user_lingering.stat.exists
  tags:
    - user
    - systemd

- name: "Determine XDG_RUNTIME_DIR"
  set_fact:
    xdg_runtime_dir: "/run/user/{{ code_server_user_info.uid }}"
  changed_when: false

- name: Create {{ code_server_service_dir }}
  become: true
  file:
    state: directory
    path: "{{ code_server_service_dir }}"
    mode: 0755

- name: Check code-server
  include_tasks: check-code-server.yml

- import_tasks: install-code-server-legacy.yml
  when: code_server_major|int < 3

- import_tasks: install-code-server.yml
  when: code_server_major|int >= 3

- name: Configure code-server
  include_tasks: configure-code-server.yml

- import_tasks: install-code-server-service.yml

- name: Configure service
  set_fact:
    code_server_configure_service: yes
  tags:
    - service

- name: Flush Handlers
  meta: flush_handlers

- name: Enable code-server service
  become: true
  systemd:
    daemon-reload: yes
    name: code-server
    enabled: true
    state: started
  when: code_server_user == "root"
  tags:
    - service

- name: Enable code-server service (rootless)
  become: true
  become_user: "{{ code_server_user }}"
  systemd:
    name: code-server
    enabled: true
    state: started
    user: true
  environment:
    XDG_RUNTIME_DIR: "{{ xdg_runtime_dir }}"
  when: code_server_user != "root"
  tags:
    - service

- name: Report
  include_tasks: report.yml

- name: Sanity Test
  include_tasks: tests.yml
  tags:
    - tests
