[http.routers]
    [http.routers.code-server]
    priority = 100
    rule = "HostRegexp(`{{ traefik_hostname }}.{{ traefik_domain }}`, `{subdomain:[1-9][0-9][0-9]+}.{{ traefik_hostname }}.{{ traefik_domain }}`)"
    service = "code-server"
    entryPoints = ["default"]
    middlewares = ["code-server-cors", "code-server-rateLimit", "code-server-proxy-domain", "code-server-compress"]

{% if traefik_acme_provider is defined and traefik_acme_provider != "" %}
    [http.routers.code-server.tls]
    certResolver = "default"    
    [[http.routers.code-server.tls.domains]]
    main = "*.{{ traefik_hostname }}.{{ traefik_domain }}"
    sans = "{{ traefik_hostname }}.{{ traefik_domain }}"
{% endif %}

[http.middlewares]
    [http.middlewares.code-server-compress.compress]
    [http.middlewares.code-server-proxy-domain.redirectRegex]
      regex = "^(http|ws)s?:\\/\\/(.+)\\/proxy\\/([1-9][0-9][0-9][0-9]+)"
      replacement = "${1}s://${3}.${2}"
      permanent =  true

    [http.middlewares.code-server-rateLimit.rateLimit]
      average = 100
      burst = 200
      period = "5s"

    [http.middlewares.code-server-cors.headers]
      accessControlAllowCredentials = true
      accessControlAllowHeaders = ["Origin", "Authorization", "Content-Type"]
      accessControlAllowMethods = ["PUT","GET","OPTIONS"]
      accessControlAllowOriginListRegex = "(.*?)"
      accessControlMaxAge = 100
      addVaryHeader = true

[http.services]
  [http.services.code-server]
    [http.services.code-server.loadBalancer]
      [[http.services.code-server.loadBalancer.servers]]
        url = "http://127.0.0.1:7000"
