[http.routers]
  [http.routers.traefik]
  rule = "Host(`traefik.{{ traefik_hostname }}.{{ traefik_domain }}`) && PathPrefix(`/`)"
  service = "dashboard@internal"
  entryPoints = ["default"]

{% if traefik_acme_provider is defined and traefik_acme_provider != "" %}
    [http.routers.traefik.tls]
    certResolver = "default"    
    [[http.routers.traefik.tls.domains]]
    main = "traefik.{{ traefik_hostname }}.{{ traefik_domain }}"
{% endif %}
