[http.routers]
    [http.routers.public_{{ traefik_public_port }}]
    priority = 900
    rule = "Host(`{{ traefik_public_port }}.{{ traefik_hostname }}.{{ traefik_domain }}`)"
    service = "public_{{ traefik_public_port }}"
    entryPoints = ["default"]
    middlewares = ["public_{{ traefik_public_port }}-cors", "public_{{ traefik_public_port }}-rateLimit", "public_{{ traefik_public_port }}-proxy-domain", "public_{{ traefik_public_port }}-compress"]

{% if traefik_acme_provider is defined and traefik_acme_provider != "" %}
    [http.routers.public_{{ traefik_public_port }}.tls]
    certResolver = "default"    
    [[http.routers.public_{{ traefik_public_port }}.tls.domains]]
    main = "*.{{ traefik_hostname }}.{{ traefik_domain }}"
    sans = "{{ traefik_hostname }}.{{ traefik_domain }}"
{% endif %}

[http.middlewares]
    [http.middlewares.public_{{ traefik_public_port }}-compress.compress]
    [http.middlewares.public_{{ traefik_public_port }}-cors.headers]
      accessControlAllowCredentials = true
      accessControlAllowHeaders = ["Origin", "Authorization", "Content-Type"]
      accessControlAllowMethods = ["PUT","GET","OPTIONS"]
      accessControlAllowOriginListRegex = "(.*?)"
      accessControlMaxAge = 100
      addVaryHeader = true

[http.services]
  [http.services.public_{{ traefik_public_port }}]
    [http.services.public_{{ traefik_public_port }}.loadBalancer]
      [[http.services.public_{{ traefik_public_port }}.loadBalancer.servers]]
        url = "http://127.0.0.1:{{ traefik_public_port }}"
